<!DOCTYPE html>
<html>

<head>
    <title>Human Resource Management System</title>
</head>
<center>

    <body style="background-color: lightgrey;">

        <h1 style="color: DodgerBlue">Human Resource Management Homepage</h1>

        <form>
            <div>
                <a href="AddEmp.html">
                    <button type="button">Add Employee</button>
                </a>
            </div>

            <div style="margin-top: 10px">
                <a href="PayrollPage.html">
                    <button type="button">Assign Task</button>
                </a>
            </div>

        </form>

    </body>
</center>


</html>